<% if flash[:notice] %>
  <div id='flash_message'>
    <%= flash[:notice] %>
    <a href='#' class='close'>dismiss</a>
  </div>
<% end %>

<div id="main">
  <h2>Pokemon Filters</h2>
  <div id='filters'>
    <ul>
      <li>
        <%= link_to 'all', pokemon_index_path %>
      </li>
      <% @types.each do |type| %>
        <li>
          <%= link_to type, pokemon_type_path(type), class: "#{type} pokemon-type"  %>
        </li>
      <% end %>
    </ul>
  </div>

  <hr/>

  <!-- The similarities between #captured_pokemon & #free_pokemon aren't coincidence :-) -->
  <div id='captured_pokemon'>
    <h2>Captured Pokemon</h2>
    <%= render partial:'pokemon', collection: @captured_pokemon %>
  </div>

  <hr/>

  <div id='free_pokemon'>
    <h2>Free Pokemon</h2>
        <%= render partial:'pokemon', collection: @free_pokemon %>
  </div>
</div>

